@{
    ViewData["Title"] = "Tax Calculator";
}

<div id="taxCalculator">
    <div class="container">
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-6">
                <h2 class="topHeading">Calculate Income Tax</h2>
            </div>
        </div>
        <div class="row" v-if="errorMessage">
            <span class="errorMessage">{{errorMessage}}</span>
        </div>
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-6">
                Example postal codes: <span v-for="postalCode in postalCodes">{{ postalCode.postalCode }} </span>
            </div>
        </div>
        <br />
        <div class="row">
            <label class="col-xs-4">Postal Code:</label>
        </div>
        <div class="row">
            <input type="text" v-model="requests.postalCode" class="form-control col-xs-8 " />
        </div>
        <br />
        <div class="row">
            <label class="col-xs-4">Annual Income:</label>
        </div>
        <div class="row">
            <input type="text" v-model="requests.annualIncome" class="form-control col-xs-8 " />
        </div>
        <br />
        <div class="row">
            <button v-on:click="calculateTax" class="btn btn-success mr-1">Submit</button>
            <button v-on:click="loadTransactionHistory" class="btn btn-info">View History</button>
        </div>
        <br />
        <div class="row" v-if="submitted">
            <div class="col-xs-10">
                <table class="table table-striped">
                    <tr>
                        <th>Calculation Type</th>
                        <th>Tax Amount</th>
                    </tr>
                    <tr>
                        <td> {{calculatedTax.taxCalculationType}}</td>
                        <td> {{calculatedTax.taxAmountPayable}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" v-if="viewHistory">
            <table class="table table-striped">
                <tr>
                    <th>Annual Income</th>
                    <th>Postal Code</th>
                    <th>Calculated Tax</th>
                    <th>Calculation Type</th>
                    <th>Created On</th>
                </tr>
                <tr v-for="history in transactionHistory">
                    <td> {{history.annualIncome}}</td>
                    <td> {{history.postalCode}}</td>
                    <td>{{history.calculatedTax}}</td>
                    <td>{{history.calculationType}}</td>
                    <td>{{history.createdOnDateString}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>