@{
    ViewData["Title"] = "Tax Calculator";
}

<h1>Tax Calculator</h1>
<div id="taxCalculator">
    <ol>
        <li v-for="postalCode in postalCodes">
            {{ postalCode.postalCode }}
        </li>
    </ol>
</div>